/ {
  pwm_outputs {
    compatible = "pwm-leds";

    pwm_ch0_gpio0: pwm_ch0_gpio0 {
        pwms = <&ledc0 0 1000000 0>;
    };
    pwm_ch1_gpio1: pwm_ch1_gpio1 {
        pwms = <&ledc0 1 1000000 0>;
    };
    pwm_ch2_gpio2: pwm_ch2_gpio2 {
        pwms = <&ledc0 2 1000000 0>;
    };
    pwm_ch3_gpio3: pwm_ch3_gpio3 {
        pwms = <&ledc0 3 1000000 0>;
    };
  };
};

&uart0 {
  status = "okay";
  current-speed = <9600>;
  pinctrl-0 = <&uart0_default>;
  pinctrl-names = "default";
};

// Default:
// SDA = IO9
// SDL = IO10
&i2c0 {
	mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
		int-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		smplrt-div = <249>;
	};
};

&pinctrl {
  ledc0_default: ledc0_default {
    group1 {
      pinmux =  <LEDC_CH0_GPIO0>,
                <LEDC_CH1_GPIO1>,
                <LEDC_CH2_GPIO2>,
                <LEDC_CH3_GPIO3>;
      output-enable;
    };
  };
};

&ledc0 {
  status = "okay";
  pinctrl-0 = <&ledc0_default>;
  pinctrl-names = "default";
  #address-cells = <1>;
  #size-cells = <0>;

  channel0@0 {
    reg = <0>;
    timer = <0>;
  };
  channel1@1 {
    reg = <1>;
    timer = <0>;
  };
  channel2@2 {
    reg = <2>;
    timer = <1>;
  };
  channel3@3 {
    reg = <3>;
    timer = <1>;
  };
};

/delete-node/ &boot_partition;
/delete-node/ &sys_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &slot0_lpcore_partition;
/delete-node/ &slot1_lpcore_partition;
/delete-node/ &coredump_partition;
/delete-node/ &scratch_partition;
/delete-node/ &storage_partition;

&flash0 {
  partitions {
    // 65k
    boot_partition: partition@0 {
      label = "mcuboot";
      reg = < 0x0 0x10000 >;
    };

    // ~524k
    slot0_partition: partition@10000 {
      label = "image-0";
      reg = < 0x10000 0x80000 >;
    };

    // ~524k
    slot1_partition: partition@90000 {
      label = "image-1";
      reg = < 0x90000 0x80000 >;
    };

    // ~ 128kb
    storage_partition: partition@110000 {
      label = "storage_partition";
      reg = < 0x110000 0x20000 >;
    };
  };
};
